* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #D8DAE2;
}

.circle{
    border: red;
    background-color: #E5E7F0;
}

.container{
    background-color: #EFF0F1;
    box-sizing: border-box;
    border-radius: 26px;
}