* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D8DAE2;
    padding: 216px 0px;
}

.main{
    display: block;
    
}
.circle{
    
}

.container{
    display: block;
    border: none;
    border-radius: 26px;
    background-color: #EFF0F1;
    position: relative;
}

.circle-top{
    background-color: #E5E7F0;
    position: absolute;
    width: 310px;
    height: 294px;
    border-radius: 50%;
    z-index: -1;
    top: 0px;
    left: 850px;
    transform: translateY(-50%);
}
.circle-bottom{
    background-color: #E5E7F0;
    position: absolute;
    width: 433px;
    height: 410px;
    border-radius: 50%;
    z-index: -1;
    bottom: 0px;
    left: 350px;
    transform: translateY(35%);
}
.card-title{
    display: block;
    padding: 62px 62px;
    padding-bottom:0px;
}
h2{
    display: inline;
}
.card-title-button{
    display: block;
    padding-top: 24px;
}
.card-title-button > *{
    display: inline;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    width: 70px;
    height: 44px;
    margin-right: 8px;
}

.card-content{
    padding: 62px 62px;
    padding-top: 56px;
}

.card-grid{
    display:flex;
    flex-direction: row;
    gap:64px;
}
.card-grid-box{
    display:block;
    width: calc(100%/3);
    background-color: #FFFFFF;
    border-radius: 32px;
    padding: 24px;
}
.card-grid-box-head{
    margin-bottom: 16px;
}
.card-grid-box-head img{
    display:block;
    width: 100%;
    border-radius: 24px;
    aspect-ratio: 389/268;
    object-fit: cover;
}

.card-grid-box-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:16px;
}
.card-grid-box-body img{
    width: 100%;
    border-radius: 24px;
    aspect-ratio: 119/97;
    object-fit: cover;
}

.card-grid-box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-grid-box-footer .right{
    display:flex;
    gap:1.67px;
    padding-left: 16px;
}