* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IBM Plex Sans;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 45px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 2000px;
}
.menu{
    display:flex;
    gap:0px 28px;
}
.menu >*{
    border:none;
    background-color: #FFFF;
    font-weight: 400;
    font-size: 18px;
}

.button-right >*{
    padding: 13px 30px;
    border-radius: 10px;
}

.start-free{
    color:#FFFF;
    background-color: #14203E;
}

.introduce {
    background-color: #FFFCF8;
    text-align: center;
    padding: 130px 15px;
}

.introduce .content {
    max-width: 600px;
    margin: auto;
}

.introduce h1{
    font-size: 66px;
    font-weight: 700;
    margin-bottom: 30px;
}

.introduce p{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;
}

.introduce button{
    max-width: 600px;
    width: 100%;
    height: 73px;
    color: #FFFF;
    background-color: #14203E;
    border-radius: 10px;
}

.info{
    font-size: 0;
}

.info .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.title-wrapper .line{
    display:flex;
    width: 200px;
    height: 1px;
    background-color: #14203E33;
}

.title-wrapper p{
    font-size: 14px;
    font-weight: 600;
    margin: 0px 15px;
}

.group-grid{
    width: 1254px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}
.group-card {
    margin: 10px 15px;
    width: calc(25% - 30px);
    margin-top: 0px;
}

.group-card img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    aspect-ratio: 290/231;
}

.group-card h2{
    display: block;
    font-size: 22px;
    font-weight: 700;
}

.group-card p{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}