* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #f4f4f4;
  font-family: "Hind", sans-serif;
  color: #718096;
}

.container {
  max-width: 1320px;
  margin: auto;
}

header {
  background-color: #ffffff;
  height: 89px;
  margin-bottom: 72px;
  color: #2d3748;
}
.header-logo-icon {
  color: #5a67d8;
}
.container-header {
  margin: auto;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0px;
}

.header-logo {
  display: flex;
  font-weight: 600;
  align-items: center;
}

.menu-items {
  display: flex;
  gap: 24px;
  font-family: Hind;
  font-size: 18px;
  color: #718096;
}
.active {
  color: #5a67d8;
}
.category-featured-list {
  display: flex;
  gap: 30px;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 72px;
}

.category-featured-item {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  width: calc((100% - 90px) / 4);
}

.category-featured-icon {
  color: #5a67d8;
}

.hero-section {
  display: flex;
  justify-content: baseline;
  padding: 0px 15px;
  margin: auto;
  margin-bottom: 71px;
}
.hero-post {
  display: flex;
  gap: 30px;
  align-items: center;
}
.hero-post-info {
  width: calc((100% - 30px) / 3 * 2);
}
.hero-post-image {
  width: calc((100% - 30px) / 3);
  object-fit: cover;
  aspect-ratio: 4/3;
}
.hero-post-category {
  display: inline-block;
  background-color: #5a67d80d;
  border-radius: 15px;
  padding: 5px 20px;
  margin-bottom: 24px;
  color: #5a67d8;
}
.hero-post-title {
  color: #2d3748;
  font-size: 45px;
  font-family: Libre Baskerville;
}
.hero-post-description {
  color: #718096;
  font-size: 18px;
}
/* Top Pick */
.top-pick-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.top-pick-item {
  width: calc((100% - 60px) / 3);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.top-pick-image {
}
.top-pick-item-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.top-pick-item-author-avatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
/* Fashion and style*/
.fashion-section {
  background-color: #f8f9fa;
  padding: 96px 0px;
}

.section-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.section-title {
  color: #2d3748;
  font-size: 26px;
  font-family: "Libre Baskerville";
}

.section-title-view-more {
  background-color: #e2e8f0;
  border-radius: 15px;
  font-size: 16px;
  color: #718096;
  padding: 6px 20px;
}

.fashion-post-list {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}
.fashion-post-item {
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden; /*thay cho set border hinh anh*/
  width: calc((100% - 60px) / 3);
}
.fashion-post-thumb {
  margin-bottom: 25px;
}
.fashion-post-img {
  /* width: 100%; da set tren dau*/
}
.fashion-post-info {
  padding: 25px;
}
.fashion-post-title {
  font-family: Hind;
  font-size: 22px;
  color: #2d3748;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.fashion-post-meta-wrapper {
  display: flex;
  gap: 10px;
}
.fashion-post-author-avatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.fashion-post-author-name {
  font-family: Hind;
  font-size: 18px;
  color: #2d3748;
}
.fashion-post-published-date {
  font-family: Hind;
  font-size: 16px;
  color: #718096;
}
/*Beauty*/
.beauty-section {
  background-color: #f4f4f4;
  padding: 96px 0px;
}
.beauty-post-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.beauty-post-item {
  display: flex;
  width: calc((100% - 30px) / 2);
}

.beauty-post-thumb {
  width: 40%;
}

.beauty-post-info {
  width: 60%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.beauty-post-meta-wrapper {
  display: flex;
}
.beauty-post-author-avatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
/*Trending Now*/
.trending-section {
  background-color: #f8f9fa;
}
.trending-container {
  padding: 96px 48px;
}
.trending-title {
  font-family: "Libre Baskerville";
  font-size: 26px;
  font-weight: 700;
  color: #2d3748;
  padding-bottom: 40px;
}
.trending-post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.trending-post-item {
  background-color: #ffffff;
  width: calc((100% - 30px) / 2);
  display: flex;
  gap: 25px;
  border-radius: 15px;
  overflow: hidden;
}
.trending-post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-title-trending {
  background-color: rgba(90, 103, 216, 0.05);
  color: #5a67d8;
  font-family: "Hind";
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  padding: 5px 20px;
  margin-bottom: 16px;
}
.trending-post-title {
  font-family: "Hind";
  font-size: 22px;
  font-weight: 700;
  color: #2d3748;
  margin-bottom: 16px;
}
.trending-post-content {
  font-family: "Hind";
  font-size: 18px;
  font-weight: 400;
  color: #718096;
  margin-bottom: 16px;
}
.trending-post-author-avatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.trending-post-meta-wrapper {
  display: flex;
  gap: 10px;
}
.trending-post-author-name{
  color: #2D3748;
  font-family: "Hind";
  font-size: 18px;
  font-weight: 500;
}
.trending-post-published-date{
  color: #718096;
  font-family: "Hind";
  font-size: 16px;
  font-weight: 400;
}
/* subcribe */
.subcribe-box {
  margin: 96px 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subcribe-title {
  margin-bottom: 8px;
  font-family: "Libre Baskerville";
  font-weight: 700;
  font-size: 26px;
  color: #2d3748;
}
.subcribe-description {
  margin-bottom: 48px;
  font-family: "Hind";
  font-weight: 400;
  font-size: 17px;
  color: #757575;
}
.subcribe-form {
  display: flex;
  gap: 4px;
}
.subcribe-email {
  width: 400px;
  padding: 15px 20px;
  border: 0px solid;
  border-radius: 6px;
  font-family: "Hind";
  font-weight: 400;
  font-size: 18px;
  color: #718096;
}
.subcribe-button {
  background-color: #5a67d8;
  padding: 15px 35px;
  font-family: "Hind";
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
  border: 0px solid;
  border-radius: 6px;
}
footer{
  background-color: #FFFFFF;
}
.container-footer{
  display: flex;
  gap: 30px;
  padding: 69px 0px;
}
.footer-title{
  width: calc(100% / 3);
}
.footer-logo{
  font-family: "Hind";
  font-size: 28px;
  font-weight: 600;
  color: #2D3748;
}
.footer-logo-icon{
  color: #5A67D8;
}
.footer-logo-year{
  color:#718096;
  font-family: "Hind";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}
.design-by{
  font-family: "Libre Baskerville";
  font-size: 18px;
  font-weight: 700;
}
.footer-content-list{
  /* width: calc((100% * 2) / 3); */
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap
}
.footer-content-item{
  /* width: calc((100% - 30px) / 3); */
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
}
.footer-content-item-title{
  color: #2D3748;
  font-family: "Libre Baskerville";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-content-item-list{
  color: #718096;
  font-family: "Hind";
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 5px;;
}
.who{
  color: #5A67D8;
}
