*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    background-color: #F4F4F4;
    font-family: "Hind", sans-serif;
    color: #718096;
}
.header{
    background-color: #FFFFFF;
    margin-bottom: 72px;
    padding: 22px 343px;
}
.header .inside{
    font-size: 28px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.newsblog{
    display: flex;
    font-weight: 600;
    align-items: center;
}
.newsblog #icon{
    color:#5A67D8;
    width: 28px;
    height: 28px;
}

.newsblog h1{
    color: #2D3748;
}

.header .button{
    display: flex;
    gap:24px;
    font-size: 18px;
    font-weight: 500;
}

.header .inside .button .home{
    color: #5A67D8;
}
.more{
    display: flex;
    align-items: baseline;
    gap:5px;
}
.more .arrow{
    width: 8px;
    height: 8px;
    border: 4px solid #718096;
    border-top: 0px;
    border-right: 0px;
    transform: rotate(-45deg); 
}

.category{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:30px;
    padding: 22px 343px;
}

.category .button{
    max-width: 300px;
    padding: 20px 65px;
    background-color: #FFFFFF;
    border: 0px solid ;
    border-radius: 15px;
    width: calc(100% / 4);
    margin-bottom: 72px;
}

.category .button i{
    color:#5A67D8;
}

.body-1{
    /* width: 1320px; */
    display: flex;
    justify-content: baseline;
    margin: auto;
    margin-bottom: 70px;
    padding: 22px 343px;
    /* flex-wrap: wrap; */
}

.body-1 .left{
    padding:113px 31px 0px 15px;
}

.body-1 .left .link{
    width: 89px;
    height: 36px;
    padding:auto;
    font-size: 16px;
    font-weight: 600;
    border: 0px solid ;
    border-radius: 15px;
    background-color: #5A67D80D;
    text-align: center;
    line-height: 18px;
}

.body-1 .left .link p{
    color:#5A67D8;
}

.body-1 .left h1{
    font-size: 44px;
    color: #2D3748;
}
.body-1 .left p{
    font-size: 18px;
    color: #718096;
    display: flex;
    flex-wrap: wrap;
}

.body-1 .right img{
    display: block;
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 410/510;
    object-fit: cover;
}

.body-2{
    /* width: 1320px; */
    display: block;
    margin: auto;
    padding: 22px 343px;
    background-color: #FFFFFF;
}

.body-2 .title{
    color: #2D3748;
    font-weight: 700;
    font-size: 26px;
    font-family: Libre Baskerville;
    margin-bottom: 40px;
}

.body-2 .content, 
.body-3 .content{
    display: flex;
    flex-wrap: wrap;
}

.body-2 .content-1{
    width: calc(100%/3);
    padding-bottom: 96px;
}

.body-3 {
    /* width: 1320px; */
    display: block;
    margin: auto;
    padding: 22px 343px;
    background-color: #F8F9FA;
}

.body-3 .title{
    display: flex;
    justify-content:space-between;
    color: #2D3748;
    font-weight: 700;
    font-size: 26px;
    font-family: Libre Baskerville;
    margin-bottom: 40px;
}

.body-3 .title-btn{
    width: 116px;
    height: 38px;
    border: 0px solid #E2E8F0;
    border-radius: 15px;
    color: #718096;
}

.body-3 .content{
    display:flex;
    gap:30px;
}

.body-3 .content .content-1{
    background-color: #FFFFFF;
    border: 0px solid;
    border-radius: 15px;
    max-width: 410px;
    width: calc(100%/3);
    padding-bottom: 96px;
}
.body-3 .content .content-1 img{
    max-width: 410px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.body-3 .content .content-1 .content-1a{
    display: flex;
    flex-wrap: wrap;
    color:#2D3748;
    margin:25px 35px 25px 25px;
}

.body-4 {
    /* width: 1320px; */
    display: block;
    padding: 96px 315px;
    background-color: #F8F9FA;
}

.body-4 .title{
    display: flex;
    justify-content:space-between;
    color: #2D3748;
    font-weight: 700;
    font-size: 26px;
    font-family: Libre Baskerville;
    margin-bottom: 40px;
}
.body-4 .title-btn{
    width: 116px;
    height: 38px;
    border: 0px solid #E2E8F0;
    border-radius: 15px;
    color: #718096;
}

.body-4 .content{
    display: flex;
    flex-wrap: wrap;
}

.body-4 .content .content-1{
    width: calc(100%/2);
    height: 278px;
    padding-bottom: 96px;
    display: flex;
    gap: 30px;
    background-color: #FFFFFF;
    border: 0px solid;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.body-4 .content .content-1 .left img{
    /* max-width: 262px; */
    display:block;
    width:100%;
    aspect-ratio: 262/278;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.body-4 .content .content-1 .right{
    padding: 67px 57px 67px 25px;
}

.body-5 {
    padding: 95px 48px;
    background-color: #F8F9FA;
}

.body-5 .content{
    display: flex;
    gap:30px;
}

.body-5 .content .content-1{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.body-6 {
    background-color: #FFFF;
    border: 0px solid;
    border-radius: 15px;
    margin: 96px 315px;
    text-align: center;
}

.body-6 .content{
    padding:96px 366px;
}

.body-6 .content-1 h2{
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 26px;
    color:#2D3748;
    margin-bottom: 8px;
}

.body-6 .content-1 p{
    font-family: Hind;
    font-weight: 400;
    font-size: 18px;
    color:#718096;
    margin-bottom: 48px;
}

.body-6 .content-2 input{
    background-color: #F4F4F4;
    width: 400px;
    height: 50px;
    border: 0px solid;
    border-radius: 6px;
    align-items: center;
    padding: 15px 202px 15px 20px;
}

.body-6 .content-2 button{
    background-color: #5A67D8;
    width: 152px;
    height: 50px;
    border: 0px solid;
    border-radius: 6px;
}

.footer{
    background-color: #FFFFFF;
}

.footer .inside {
    display: flex;
    padding: 64px 442px 69px 315px;
    gap:226px
}

.footer .inside .content{
    display: flex;
    gap:158px;
}
