*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    background-color: #1A2036;
}

.main{
    display: flex;
    width: 975px;
    margin: 50px auto; /*tạm thời để dễ nhìn*/
    border-radius: 25px;
    background-color: #252B42;
    padding:35px;
}

.menu-left{
    width: 88px;
    text-align: center;
    border-radius: 20px;
    padding: 158px 15px;
    background-color: #1A2036;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-right{
    margin-left: 40px;
    padding-top: 35px;
}