*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    background-color: #1A2036;
}

.main{
    display: flex;
    gap:40px;
    margin: 50px;
    background-color: #252B42;
    border-radius: 25px;
    padding:35px;
}

.menu-left{
    width: 88px;
    text-align: center;
    border-radius: 20px;
    padding: 158px 15px;
    background-color: #1A2036;
}

.icon-list{
    display: flex;
    flex-direction: column;
    row-gap:15px;
}

.icon-list i{
    color:#FFFF;
    width: 58px;
    height:58px;
    text-align: center;
    line-height: 58px;
}

.menu-right{

}

.title .left{
    display:flex;
    gap: 5px;
    font-size: 26px;
}
.title .right{
    display:flex;
}

h2{
    color: #B1B9D8;
}